/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

.products {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  align-items: center; }
  .products .product-item {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid black; }
    .products .product-item .product-item__title {
      border-bottom: 1px solid black;
      line-height: 40px;
      height: 40px; }
    .products .product-item .product-item__price {
      line-height: 30px; }
    .products .product-item.choiceable {
      border: 2px solid red; }
    .products .product-item.unchoiceable {
      background-color: rgba(0, 0, 0, 0.3); }

.process {
  border: 1px solid black;
  padding-top: 20px; }
  .process .process-money {
    text-align: center;
    line-height: 50px;
    margin: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 260px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid black; }
  .process .process-btn {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 50px;
    margin: 10px 20px;
    width: 260px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px; }
  .process .process-status {
    margin: 10px 20px;
    padding: 10px;
    width: 260px;
    height: 300px;
    border: 1px solid black; }
    .process .process-status .process-status__line {
      margin-bottom: 5px; }

.wallet {
  border: 1px solid black;
  height: 500px;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wallet div {
    border-radius: 5px; }
  .wallet > div {
    display: flex;
    padding: 10px; }
    .wallet > div .wallet__money-type {
      text-align: center;
      line-height: 30px;
      width: 70px;
      height: 30px;
      margin-right: 10px;
      border: 1px solid black; }
    .wallet > div .wallet__type-count {
      text-align: center;
      line-height: 30px;
      width: 50px;
      height: 30px;
      border: 1px solid black; }
  .wallet .wallet__total-money {
    padding: 0;
    width: 110px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid black; }

.disabled {
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none; }

* {
  box-sizing: border-box; }

body {
  padding: 50px; }

.container {
  display: flex;
  height: 500px; }

.vending-machine {
  display: flex;
  border: 3px solid black;
  margin-right: 20px; }
