.process {
  border: 1px solid black;
  padding-top: 20px;

  .process-money {
    text-align: center;
    line-height: 50px;
    margin: 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 260px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  .process-btn {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 50px;
    margin: 10px 20px;
    width: 260px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  .process-status {
    margin: 10px 20px;
    padding: 10px;
    width: 260px;
    height: 300px;
    border: 1px solid black;
    .process-status__line {
      margin-bottom: 5px;
    }
  }
}
